# Fichiers et dossiers à ignorer lors de la construction de l'image Docker
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.git
.gitignore
.env
.env.*
*.md
.vscode
.idea
coverage
tests
test
__tests__
*.test.js
*.spec.js
Dockerfile*
docker-compose*
