<div class="row">
<div class="col-2">
  <!-- <input type="text" class="form-control" [(ngModel)]="detailfacture.produit.idProduit" [disabled]="true"> -->
  <!-- ngModel non disponible -->
</div>
<div class="col-2">
  <!-- <input type="text" class="form-control" [(ngModel)]="detailfacture.produit.libelle" [disabled]="true"> -->
  <!-- ngModel non disponible -->
</div>
  <div class="col-2">
<!-- <input type="text" class="form-control" [(ngModel)]="detailfacture.produit.prixUnitaire" [disabled]="true"> -->
<!-- ngModel non disponible -->
</div>
  <div class="col-2">
<!-- <input type="text" class="form-control" [(ngModel)]="detailfacture.produit.pourcentageRemise" [disabled]="true"> -->
<!-- ngModel non disponible -->
</div>
  <div class="col">
<!-- <input type="number" class="form-control" [(ngModel)]="detailfacture.qte" (change)="notifyParentChangeQuantite()" [min]="1"> -->
<!-- ngModel non disponible -->
  </div>
  <div class="col">
    <a (click)="notifyParentDelete()"><i class="fas fa-trash"> </i></a>
  </div>
</div>
